.wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #54be96;
  font-weight: 500;
}

span {
  font-weight: 600;
  color: #191a15;
}
