.wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  padding-left: clamp(16px, 8vw, 128px);
  padding-right: clamp(16px, 8vw, 128px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #54be96;
  font-weight: 500;
  margin-right: 130px;
}

span {
  font-weight: 600;
  color: #191a15;
}

.left {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav_name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #191a15;
  text-decoration: none;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  background-color: #54be96;
  width: 8px;
  height: 8px;
}
