.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}

.message {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #191a15;
}
