.btn {
  border-radius: 30px;
  padding: 14px 48px;
  width: 176px;
  height: 48px;
  background: #54be96;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
